* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 80vh;
  width: 80%;
  // background-color: green;

  .grid {
    height: 100%;
    display: flex;
    justify-content: center;

    ul {
      height: 100%;
      text-decoration: none;
      zoom: 2.2;
      display: grid;
      position: relative;
      grid-template-columns: repeat(8, 32px);

      // remember to account for gap
      column-gap: 16px;
      grid-template-rows: repeat(16, 16px);
      justify-items: center;

      .sprite {
        position: absolute;
        width: 100px;
        height: 100px;
        animation: play 0.4s steps(2) infinite;
        transform-origin: top left;
        transform: scale(0.3);
      }
      @keyframes play {
        100% {
          background-position: -200px;
        }
      }
      li {
        list-style: none;
        font-size: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // position: absolute;
        // border: 1px solid black;
      }
      .odd {
        transform: translate(24px, 0px);
        // transform: translateY(-16px);
      }
    }
  }
}

@media (max-width: 1500) {
  #root .grid ul {
    zoom: 3;
  }
}

@media (max-width: 800px) {
  #root .grid ul {
    zoom: 1.8;
  }
}

@media (max-width: 600px) {
  #root .grid ul {
    zoom: 1.4;
  }
}
@media (max-width: 400px) {
  #root .grid ul {
    zoom: 1.2;
  }
}
